<%- include('Parcial/header') %>

<div class="hero" style="text-align: center;">
  <h2>❌ Error</h2>
  <p><%= mensaje %></p>
  <a href="/dashboard" class="btn">Volver al Inicio</a>
</div>

<%- include('Parcial/footer') %>
